PORT=4000
NODE_ENV=development

# CORS (separado por comas). Ej: http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173

# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=fst_asistencia

